.items {
  display: flex;
  row-gap: 6px;
  margin-left: 12px;
  > div {
    cursor: pointer;
    padding: 6px;
    min-width: 200px;
  }
  .item-disabled {
    background-color: #C4C4C4 !important;
    cursor: unset;
  }
}
