<div class="content-container d-flex flex-column" style="width: 270px;">
  <div class="d-flex justify-content-center mb-4">
    <h2 class="fw-bold m-0">Estoquito</h2>
  </div>
  <div class="items d-flex flex-column">
    <div (click)="handleRedirect('categoria/lista')">Categoria</div>
    <div (click)="handleRedirect('cliente/lista')">Cliente</div>
    <div (click)="handleRedirect('fornecedor/lista')">Fornecedor</div>
    <div (click)="handleRedirect('funcionario/lista')">Funcionario</div>
    <div (click)="handleRedirect('material/lista')">Material</div>
    <div (click)="handleRedirect('produto/lista')">Entrada produto</div>
  </div>
</div>
