<app-container-pages>
  <h2>Baixa estoque</h2>
  <div class="search mb-4">
    <span>Codigo ou Descrição: </span>
    <input type="text" />
    <button type="button" class="btn btn-primary ms-2">
      <div class="d-flex align-items-center">
        <mat-icon>search</mat-icon> <span>Pesquisar</span>
      </div>
    </button>
  </div>
  <div class="content">
    <div class="tabela">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Código</th>
          <th>Descrição</th>
          <th>Unidade</th>
          <th>Estoque</th>
          <th>P. Venda</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>123123123</td>
          <td>COCA COLA 600ML</td>
          <td>unidade</td>
          <td>55</td>
          <td>R$ 8,00</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-container-pages>
