<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="d-flex flex-column p-2" style="border: solid 1px">
    <div class="d-flex justify-content-center">
      <h2 class="mb-0">Estoquito</h2>
    </div>

    <div class="d-flex flex-column gap-2">
      <div>
        <label for="usuario">Usuario</label>
        <input [(ngModel)]="usuario.usuario" type="text" class="form-control" aria-label="Usuario" id="usuario"/>
      </div>
      <div>
        <label for="senha">Senha</label>
        <input [(ngModel)]="usuario.senha" type="password" class="form-control" aria-label="Senha" id="senha"/>
      </div>
      <div class="d-flex">
        <button class="w-100" (click)="submit()">Login</button>
      </div>
    </div>
  </div>
</div>
