<div class="root" style="min-height: 100vh">
  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav *ngIf="fullPageList.indexOf(activeRoute) === -1" opened mode="side">
      <app-sidenav
      ></app-sidenav>
<!--        (sidenavToggle)="toggleSideNav(sidenav)"-->
    </mat-sidenav>

    <mat-sidenav-content [ngStyle]="{'margin-left':(fullPageList.indexOf(activeRoute) === -1) ? '270px !important' : '0px'}" style="min-height: 100vh !important">
      <div class="root-app">
        <app-navbar
        ></app-navbar>
<!--          (sidenavToggle)="toggleSideNav(sidenav)"-->
        <div class="container-app">
          <div class="content-app m-2">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
