<app-cadastro title="Entrada de Produto">
  <div content>
    <div class="row">
      <div class="col-lg-4">
        <label for="codigo">Código do produto</label>
        <input type="text" id="codigo" class="form-control" />
      </div>
      <div class="col-lg-2">
        <label for="descricao">Quantidade</label>
        <input type="text" id="descricao" class="form-control" />
      </div>
      <div class="col-lg-4">
        <label for="unidade">Fornecedor</label>
        <input type="text" id="unidade" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <label for="observacao">Observação</label>
        <textarea rows="3" id="observacao" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <div footer>
    <button type="button" class="btn btn-outline-primary">Cancelar</button>
    <button  type="button" class="btn btn-primary">Salvar</button>
  </div>
</app-cadastro>
