<app-cadastro title="Cadastrar Cliente">
  <div content>
    <div class="mb-4">
      <h3 class="m-0 fw-bold">Informações pessoais</h3>
      <div class="row">
        <div class="col-lg-4">
          <label for="nome">Nome</label>
          <input type="text" id="nome" class="form-control" />
        </div>
        <div class="col-lg-4">
          <label for="cpf">Cpf</label>
          <input type="text" id="cpf" class="form-control" />
        </div>
        <div class="col-lg-4">
          <label for="telefone">Telefone</label>
          <input type="text" id="telefone" class="form-control" />
        </div>
      </div>
    </div>

    <div class="mb-4">
      <h3 class="m-0 fw-bold">Endereço</h3>
      <div class="row">
        <div class="col-lg-4">
          <label for="estado">Estado</label>
          <input type="text" id="estado" class="form-control" />
        </div>
        <div class="col-lg-4">
          <label for="cidade">Cidade</label>
          <input type="text" id="cidade" class="form-control" />
        </div>
        <div class="col-lg-4">
          <label for="cep">CEP</label>
          <input type="text" id="cep" class="form-control" />
        </div>
        <div class="col-lg-4">
          <label for="bairro">Bairro</label>
          <input type="text" id="bairro" class="form-control" />
        </div>
        <div class="col-lg-4">
          <label for="logradouro">Logradouro</label>
          <input type="text" id="logradouro" class="form-control" />
        </div>
        <div class="col-lg-4">
          <label for="numero">Numero</label>
          <input type="text" id="numero" class="form-control" />
        </div>
      </div>
    </div>
  </div>
  <div footer>
    <button type="button" class="btn btn-outline-primary" (click)="handleCancel()">Cancelar</button>
    <button  type="button" class="btn btn-primary" (click)="handleSubmit()">Salvar</button>
  </div>
</app-cadastro>
